# Java
*.class
# IntelliJ
.idea/
*.iml
*.bat
# Tex
*.aux
main.pdf
*.log
*.out
*.gz
*.toc
# KDV data files
Map/Data/kdv*
*.db
Rapport/main.pdf
Map/Data/osm/purged_edges.txt
Map/Data/osm/purged_nodes.txt
jar/Data/osm/purged_nodes.txt
jar/Data/osm/purged_edges.txt
jar/Data/krak/purged_nodes.txt
jar/Data/krak/purged_edges.txt
